@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background: #ececec;
    display: grid;
    place-content: center;
    min-height: 100vh;
    padding: 25px;
}

.keyboard_wrapper {
    width: 740px;
    padding: 25px;
    border-radius: 15px;
    box-shadow:
        -4px -4px 8px #fff,
        4px 4px 8px #0002;
}

.keyboard_wrapper .display {
    position: relative;
    font-size: 18px;
    font-family: inherit;
    height: 200px;
    border-radius: 15px;
    height: 200px;
    padding: 20px;
    overflow: hidden;
    overflow-y: auto;
    border: 2px inset #fff;
    white-space: pre-wrap;
    box-shadow:
        inset 2px 2px 5px #0002,
        inset -2px -2px 5px #fff;
}

.keyboard_wrapper .display::before {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(45deg, #ffffff52, #0000001a);
    position: absolute;
    left: 0;
    top: 0;
}

.keyboard_wrapper .key {
    margin-top: 20px;
    text-transform: lowercase;
    user-select: none;
}

.keyboard_wrapper .key .row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    gap: 20px;
}

.keyboard_wrapper .key .row span {
    width: 100px;
    height: 100px;
    display: grid;
    place-content: center;
    border-radius: 25%;
    box-shadow:
        3px 3px 6px #0002,
        -3px -3px 6px #fff;
    cursor: pointer;
    border: 1px solid rgb(8 53 185);
    transition: 0.3s;
    border: 1px solid;
    text-align: center;
    margin: 2px;
    box-shadow: 0px 13px 13px;
    font-size: 35px;
}

.keyboard_wrapper .key .row span.caps,
.keyboard_wrapper .key .row span.backspace {
    width: calc(50px * 1.6);
    display: flex;
    gap: 5px;
    align-items: center;
}

.keyboard_wrapper .key .row span.space {
    width: calc(50px * 9.4);
}

.keyboard_wrapper .key .row span.active,
.keyboard_wrapper .key .row span:hover {
    border-color: orange;
    color: orangered;
}

.keyboard_wrapper .key .row span.active,
.keyboard_wrapper .key .row span:active {
    box-shadow:
        inset 3px 3px 6px #0002,
        inset -3px -3px 6px #fff;
}

.keyboard_wrapper .key.uppercase {
    text-transform: capitalize;
}


.display{
    display: none;
}


.btnchome{
    width: 100px;
    border: 0;
    position: absolute;
    bottom: 10px;
    left: -18px;
    background-color: transparent;
    right: 64vw;
    
}

#btnclavie img:hover{
  filter: brightness(0.4);
    }
    

    .bodycc{display: block; }


   .keyboard_wrapper{
    position: fixed;
    bottom: 10px;
    width: 90vw;
    BACKGROUND-COLOR:#86bfdb;
   
   }


   .s003{ position: absolute;}
   .s003 form{ width: 70%;}

   
#btnclavie img{
    width: 100%;
    transition: 0.5;
    }

    .key{display: none;}


    .btnh{
        transition: 0.4s;
    }

    .btnh:hover{
    filter: opacity(0.5);

    }




    .row span:hover{
        border: 0 solid black;
    }



  
     