.spaces-gal .owl-dots {
  width: 100%;
  margin: 10px auto;
  text-align:center;
}
.spaces-gal .owl-dot {
  height: 10px;
  width: 40px;
  background-color: #ff5722 !important;
  display: inline-block;
  border-radius: 0;
  opacity: 1;
  transition: 0.3s;
  margin: 0 5px;
}
.spaces-gal .owl-dot.active {
  background-color: #e1e1e1!important;
  opacity: 1;
  width: 40px;
  position:relative;
}
.spaces-gal .owl-dot.active ~ .owl-dot {
  background: #e1e1e1 !important;
}

.spaces-slide {
  position: relative;
}
.spaces-slide img {
  width:500px!important;
  height:200px;
  object-fit:cover;
  display:block;
  margin:auto;
}
.spaces-gal .owl-dot.active::before {
content: " ";
    background-color:  #ff5722;
    -webkit-animation: backgroundLinera 5s linear;
    animation: backgroundLinera 5s linear;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0;
    border-radius: 2px;
}
@keyframes backgroundLinera{
    0%{width:0}
    50%{width:50%}
    to{width:100%}
}

.spaces-gal button {
    appearance: none;
    background: transparent;
    border: 0px;
    text-align: center;
    position: relative;
    display: block;
    width: inherit;
    margin-top: 1em;
}